/*
* @description: 内页公用样式
* @author: will
* @update: will (2017-02-18 09:40)
* @version: v1.0
*/
@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont.eot?t=1490320073514'); /* IE9*/
	src: url('../fonts/iconfont.eot?t=1490320073514#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/iconfont.woff?t=1490320073514') format('woff'), /* chrome, firefox */
	url('../fonts/iconfont.ttf?t=1490320073514') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('../fonts/iconfont.svg?t=1490320073514#iconfont') format('svg'); 
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.will-shuaxin:before { content: "\e600"; }
.will-liebiao:before { content: "\e60d"; }
.will-wenjianjia:before { content: "\e635"; }
.will-liebiao1:before { content: "\e654"; }
.will-bianji:before { content: "\e65a"; }
.will-xiala:before { content: "\e60c"; }
.will-jiantou:before { content: "\e618"; }
.will-chaxun:before { content: "\e606"; }
.will-jilu:before { content: "\e604"; }
.will-shangpin:before { content: "\e62b"; }
.will-ico3:before { content: "\e649"; }
.will-xiugai:before { content: "\e632"; }
.will-recai:before { content: "\e612"; }
.will-shanchu:before { content: "\e61e"; }
.will-email:before { content: "\e64c"; }
.will-xitongshezhi:before { content: "\e80e"; }
.will-xiaoxi:before { content: "\e611"; }
.will-shuju:before { content: "\e607"; }
.will-cuowu:before { content: "\e615"; }
.will-yunying:before { content: "\e633"; }
.will-hyjilu:before { content: "\e614"; }
.will-dizhi:before { content: "\e622"; }
.will-weixin:before { content: "\e624"; }
.will-xiugaimima:before { content: "\e627"; }
.will-jiantou-copy:before { content: "\e60a"; }
.will-tuichu:before { content: "\e64b"; }
.will-huiyuanzhanghuguanli:before { content: "\e6be"; }
.will-guanbi:before { content: "\e6c4"; }
.will-huiyuan:before { content: "\e64d"; }
.will-46:before { content: "\e679"; }
.will-fenlei:before { content: "\e657"; }
.will-icon1:before { content: "\e60e"; }
.will-desc:before { content: "\e602"; }
.will-jilu1:before { content: "\e603"; }
.will-houtui:before { content: "\e608"; }
.will-qianjin:before { content: "\e609"; }
.will-1395biaogemianban:before { content: "\ed20"; }
.will-huiyuanguanli:before { content: "\e671"; }
.will-shouye:before { content: "\e620"; }
.will-wenjianjia1:before { content: "\e8ea"; }
.will-shuju1:before { content: "\e60b"; }
.will-jia:before { content: "\e63d"; }
.will-tongzhi:before { content: "\e7ef"; }
.will-7:before { content: "\e616"; }
.will-biaodan:before { content: "\e623"; }
.will-yeji:before { content: "\e661"; }
.will-exceltype:before { content: "\e642"; }
.will-group4copy:before { content: "\e61f"; }
.will-gongju:before { content: "\e6ed"; }
.will-dingdan:before { content: "\e621"; }
.will-mendian:before { content: "\e6e2"; }
.will-zhengque:before { content: "\e66f"; }
.will-tubiaozongjie17:before { content: "\e613"; }
.will-caiwuguanli:before { content: "\e630"; }
.will-jinxiaocun:before { content: "\e73d"; }
.will-yuanliao:before { content: "\e6aa"; }
.will-tongzhi1:before { content: "\e605"; }
.will-zuzhijiagou:before { content: "\e617"; }
.will-phone:before { content: "\e695"; }
.will-huiyuanguanli1:before { content: "\e610"; }
.will-jiazai:before { content: "\e601"; }
.will-shouyintai:before { content: "\e60f"; }
.will-huishou:before { content: "\e6ec"; }
.will-off:before { content: "\e61a"; }
.will-on:before { content: "\e61b"; }
.will-chanpinyuding:before { content: "\e73f"; }
.will-ccgl-caigouguanli-8:before { content: "\e619"; }
.will-kucun:before { content: "\e61c"; }
/* 设置滚动条的样式 */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
	background-color: #fff;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
	background-color: #ccc;
}
::-webkit-scrollbar-thumb:window-inactive {
	background-color: #ccc;
}
.wrapper {
	padding: 15px;
}
.content {
	width: 100%;
}
a{
	color: #158CFF;
}
.will-check {
	position: relative;
	width: 42px;
	height: 24px;
	margin: 0 auto;
	transition: all 0.2s linear 0s;
}
.will-check input[type=checkbox] {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
	cursor: pointer;
}
.will-check i.iconfont {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 42px;
	height: 24px;
	line-height: 26px;
	text-align: left;
	font-size: 20px;
	transition: all 0.2s linear 0s;
}
.will-check i.iconfont:before {
	content: "\e61a";
	color: #C0C0C0;
}
.will-check.active i.iconfont:before {
	content: "\e61b";
	color: #01AAED;
}
/*面板*/
.wbox {
	width: 100%;
	border-top: #E2E6EF solid 4px;
	background: #fff;
}
.wbox-title {
	width: 100%;
	height: 42px;
	padding: 8px 15px;
	line-height: 26px;
	overflow: hidden;
}
.wbox h5 {
	float: left;
	padding: 0;
	margin: 0;
	line-height: 26px;
	font-weight: bold;
	color: #676a6c;
}
.ibox-tools {
	float: right;
}
.wbox-content {
	width: 100%;
	padding: 15px;
	border-top: #e7e9f1 solid 1px;
}
/*按钮*/
.btn-green, .btn-red, .btn-blue, .btn-orange, .btn-keep, .btn-gray, .btn-shuaxin {
	display: inline-block;
	padding: 0 8px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	white-space: nowrap;
	border-radius: 2px;
	cursor: pointer;
}
.btn-green {
	background-color: #5FB878;
}
.btn-red {
	background: #FF5722;
}
.btn-blue {
	background: #01AAED;
}
.btn-orange {
	background: #F7B824;
}
.btn-keep {
	background: #428bca;
}
.btn-gray {
	background: #ccc;
}
.btn-green:hover, .btn-red:hover, .btn-blue:hover, .btn-orange:hover, .btn-keep:hover, .btn-gray:hover {
	color: #fff;
	text-decoration: none;
	opacity: 0.8;
}
/*刷新*/
.btn-shuaxin {
	width: 26px;
	height: 26px;
	padding: 0;
	margin-left: 10px;
	background: #60CEF3;
	color: #fff;
	border-radius: 12px;
}
.btn-shuaxin:hover {
	color: #fff;
	opacity: 0.8;
}
.btn-shuaxin i.iconfont {
	font-size: 14px;
}
/*删除*/
.btn-delete {
	display: inline-block;
	height: 26px;
	background: #FF5722;
	padding: 0 8px;
	margin-left: 10px;
	line-height: 26px;
	color: #fff;
	border-radius: 2px;
}
.btn-delete:hover {
	color: #fff;
	opacity: 0.8;
}
/*表格*/
.con-table {
	width: 100%;
	margin-bottom: 6px;
	overflow-x: scroll;
}
.con-table .layui-table {
	width: 100%;
	margin: 0;
}
.layui-table thead th {
	padding: 8px 10px;
	background: #eff1f8;
	line-height: 22px;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	color: #333;
}
.layui-table .text-c {
	text-align: center;
}
.layui-table .text-l {
	text-align: left;
}
.layui-table .text-r {
	text-align: right;
}
.layui-table > tbody > tr > td {
	padding: 8px 10px;
	line-height: 22px;
	font-size: 13px;
	color: #666;
}
.layui-table > tbody > tr > td.psi-select {
	color: #999;
	cursor: pointer;
}
.layui-table > tbody > tr.active {
	background: #D1E8FE;
}
/*表格特殊文本颜色*/
.layui-table > tbody > tr > td.c-green {
	color: #2DB200;
}
.layui-table > tbody > tr > td.c-red {
	color: #FF4000;
}
.layui-table > tbody > tr > td.c-blue {
	color: #158CFF;
}
.c-green {
	color: #2DB200;
}
.c-red {
	color: #FF4000;
}
.c-blue {
	color: #158CFF;
}
/*分页*/
.page-list {
	width: 100%;
	overflow: hidden;
}
.page-list ul.pagination {
	float: right;
	overflow: hidden;
}
.page-list ul.pagination li {
	float: left;
	height: 32px;
}
.page-list ul.pagination li span {
	display: block;
	padding: 6px 12px;
	margin-left: -1px;
	border: #ddd solid 1px;
	line-height: 18px;
	font-size: 13px;
	color: #158CFF;
	cursor: pointer;
}
.page-list ul.pagination li:first-child span {
    margin-left: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.page-list ul.pagination li:last-child span {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.page-list ul.pagination li span:hover {
	background: #eee;
}
.page-list ul.pagination li.disabled span:hover {
	background: #fff;
}
.page-list ul.pagination li.active span {
	background: #158CFF;
	border-color: #158CFF;
	color: #fff;
	cursor: default;
}
.page-list ul.pagination li.disabled span {
	color: #666;
	cursor: not-allowed;
}
.page-total {
	float: right;
	height: 32px;
	margin-left: 20px;
	line-height: 32px;
	font-size: 13px;
	color: #666;
}
.page-total select {
	height: 26px;
	margin: 3px;
	border: #ddd solid 1px;
	font-size: 13px;
	color: #666;
	cursor: pointer;
	border-radius: 2px;
}
.page-total strong {
	font-weight: bold;
}
.page-list .no-items {
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #666;
	overflow: hidden;
}
/*表单面板*/
.wboxform {
	width: 100%;
	padding: 12px 15px;
	margin-bottom: 12px;
	background: #fff;
	border-top: #E2E6EF solid 4px;
}
.layui-form-item {
	margin: 0;
}
.layui-form-item .layui-inline {
	margin: 0;
}
@media (max-width: 1400px)  {
	.wboxform {
		padding: 2px 15px 12px;
	}
	.wboxform .layui-inline {
		margin-top: 10px;
	}
	.wboxform .layui-btn {
		margin-top: 10px;
	}
}
.layui-form-label {
	width: auto;
	padding: 0 8px 0 0;
	line-height: 32px;
	color: #555;
}
.layui-form-item .layui-input-inline {
	width: auto;
	margin-right: 5px;
}
.layui-form-item .layui-form-mid {
	padding: 6px 2px;
	margin-right: 5px;
}
.layui-input, .layui-textarea, .layui-select {
	height: 32px;
	padding: 5px;
	border: #cdd9e6 solid 1px;
	line-height: 20px;
	font-size: 13px;
	color: #666;
}
.layui-input-inline .Wdate {
	height: 32px;
	padding: 5px 20px 5px 5px;
	border: #cdd9e6 solid 1px;
	line-height: 20px;
}
.layui-input:focus, .layui-textarea:focus, .layui-select:focus, .layui-input:hover {
	border-color: #158CFF !important;
}
.layui-btn+.layui-btn {
	margin-left: 5px;
	border-radius: 2px;
}
.layui-btn-primary:focus, .layui-btn-primary:hover {
	border-color: #158CFF !important;
}
.layui-form select {
	display: block;
}
.wboxform .multiselect-native-select {
	position: relative;
}
.wboxform .multiselect-native-select select {
	position: absolute;
	top: 32px;
	left: 50%;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px -1px -1px -3px;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.wboxform .multiselect-native-select .btn-group {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.wboxform .multiselect-native-select .btn-group .btn {
	width: 160px;
	height: 32px;
	padding: 5px;
	border: #ddd solid 1px;
	background: #fff;
	line-height: 20px;
	text-align: left;
	font-size: 13px;
	color: #666;
	cursor: pointer;
	border-radius: 2px;
}
.wboxform .multiselect-native-select .btn-group .btn:hover, .wboxform .multiselect-native-select .btn-group.open .btn {
	border-color: #158CFF !important;
}
.wboxform .multiselect-native-select .btn-group .btn span {
	display: block;
	float: left;
	width: 135px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.wboxform .dropdown-menu {
	display: none;
	position: absolute;
	left: 0;
	top: 32px;
	width: 160px;
	padding: 0;
	margin: 0;
	border: #ddd solid 1px;
	border-top: 0;
	background: #fff;
	box-shadow: none;
	z-index: 10;
	border-radius: 2px;
}
.wboxform .dropdown-menu li {
	cursor: pointer;
}
.wboxform .dropdown-menu li a {
	display: block;
	width: 100%;
	height: 26px;
	margin: 0;
	cursor: pointer;
	border-radius: 0;
}
.wboxform .dropdown-menu li a:hover {
	background: #f3f3f4;
}
.wboxform .dropdown-menu li.active a {
	background: #158CFF;
}
.wboxform .dropdown-menu li a label {
	display: block;
	width: 100%;
	height: 26px;
	padding: 6px 8px;
	line-height: 13px;
	font-size: 13px;
	color: #666;
	overflow: hidden;
	cursor: pointer;
}
.wboxform .dropdown-menu li.active a label {
	color: #fff;
}
.wboxform .dropdown-menu li input[type=checkbox] {
	display: inline-block;
	float: left;
	margin-right: 3px;
}
.wboxform .open .dropdown-menu {
	display: block;
}
.wboxform .caret {
    display: inline-block;
    float: right;
    width: 0;
    height: 0;
    margin: 8px 0 0 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: #999;
}
/*弹窗*/
.popup {
	display: none;
	padding: 15px;
}
/*左右布局*/
.wbox-content {
	width: 100%;
	overflow: hidden;
}
.wbox-content .left {
	float: left;
	width: 20%;
	border: #e2e2e2 solid 1px;
	
}
.wbox-content .right {
	float: left;
	width: 80%;
	padding-left: 15px;
}
/*树型菜单*/
.goods-menu{ 
	padding: 15px;
}
.goods-menu a{ 
	color:#222; 
	text-decoration:none; 
}
.goods-menu a:hover{ 
	color:#f33; 
	text-decoration:underline;
}
.goods-menu ul{ 
	padding:0 0 0 18px; 
	margin:0; 
}
.goods-menu ul li{ 
	font-size:13px; 
	color:#222; 
	line-height:18px; 
	cursor:pointer;
	list-style:none; 
	background:url(../img/st_node.gif); 
	background-repeat:no-repeat; 
	padding:0 0 3px 20px;
}
.goods-menu .folder{ 
	list-style-image:url(../img/st_icon.png); 
	background:url(../img/st_folder.gif); 
	background-repeat:no-repeat; 
	padding:0 0 0 20px; 
}
.goods-menu .open{ 
	list-style-image:url(../img/st_icon_open.png); 
	background:url(../img/st_folder_open.gif); 
	background-repeat:no-repeat; 
	padding:0 0 0 20px; 
}
.goods-menu .hover{
	background-color:#ffa;
}
/*二维码*/
.qr-box {
	width: 147px;
	margin: 0 auto;
}
.qr-box img {
	display: block;
	width: 147px;
	height: 147px;
}
.qr-box span {
	display: block;
	height: 24px;
	background: #fff;
	line-height: 16px;
	text-align: center;
	font-size: 10px;
	color: #000;
}
.qr-code .print-btn {
	display: block;
	width: 50px;
	height: 26px;
	margin: 10px auto 0;
	line-height: 26px;
	text-align: center;
}
/*消费明细*/
.popup-body {
	width: 100%;
	overflow: hidden;
}
.popup-body p {
	line-height: 28px;
	color: #555;
}
.popup-body ul {
	width: 100%;
	padding: 8px 0;
	margin: 10px auto;
	border-top: #eee solid 1px;
	border-bottom: #eee solid 1px;
}
.popup-body ul li {
	width: 100%;
	padding: 3px 0;
	line-height: 20px;
	overflow: hidden;
}
.popup-body ul li h5 {
	float: left;
	width: 50%;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.popup-body ul li b {
	display: block;
	float: left;
	width: 25%;
	text-align: center;
	color: #555;
}
.popup-body ul li span {
	display: block;
	float: right;
	width: 25%;
	text-align: right;
	color: #d9534f;
}
.popup-body ul li .pb-sx {
	float: left;
	width: 100%;
	color: #999;
}
/*swich开关*/
.layui-form-switch {
	width: 52px;
	height: 24px;
	margin-top: 5px;
	font-size: 12px;
}
/*会员卡设置*/
.vipCard-content {
	width: 560px;
	margin: 0 auto;
}
.vipCard-form {
	padding: 10px 20px;
}
/*门店信息*/
.storeInfo-left {
	float: left;
	width: 54%;
}
.storeInfo-right {
	float: right;
	width: 45%;
}
.storeInfo-box p {
	line-height: 26px;
	font-size: 14px;
	color: #666;
}
.storeInfo-box p b {
	font-weight: bold;
	color: #333;
}
/*分店管理*/
.fendian-change .layui-form-pane .layui-input-block {
	margin-left: 150px;
	height: 38px;
	padding: 6px 45px;
	border: #ddd solid 1px;
}
/*编辑商品*/
.article-goods .article-img {
	position: relative;
	width: 230px;
	height: 230px;
	border: #eee solid 1px;
	background: url(../img/img-bg.png) no-repeat center / 100% auto;
	border-radius: 2px;
	overflow: hidden;
}
.article-goods .article-img img {
	display: block;
	width: 100%;
	height: 100%;
}
.article-goods .img-btn {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 37px;
	border: none;
	background: #158CFF;
	background: rgba(21,140,255,0.8);
	filter: alpha(opacity=80);
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}
.article-goods .layui-form-pane .layui-form-label {
	width: 100px;
	padding: 8px 10px;
	text-align: right;
}
.article-goods .layui-form-pane .layui-form-label b {
	padding-right: 2px;
	color: #f00;
}
.article-goods .layui-input, .article-goods .layui-textarea, .article-goods .layui-select {
	width: 100%;
	height: 38px;
	padding: 5px;
	border: #ddd solid 1px;
	line-height: 16px;
	font-size: 13px;
	color: #666;
}
.article-goods .layui-input:focus, .article-goods .layui-textarea:focus, .article-goods .layui-select:focus, .article-goods .layui-input:hover {
	border-color: #158CFF !important;
}
.article-goods .layui-inline span {
	display: block;
	float: left;
	height: 38px;
	padding: 0 10px;
	margin-left: -6px;
	border: #ddd solid 1px;
	line-height: 36px;
	color: #999;
}
.article-goods .layui-form-pane .layui-input-block {
	margin-left: 100px;
	height: 38px;
	padding: 6px 3px;
	border: #ddd solid 1px;
}
.article-goods .layui-form-pane .layui-input-block a.btn-blue {
	height: 24px;
	padding: 0 15px;
	margin-top: 5px;
	line-height: 24px;
}
.layui-form-select dl dd.layui-this {
	background: #158CFF;
}
.layui-form-onswitch {
	background: #158CFF;
	border-color: #158CFF;
}
.article-goods .layui-form-pane .layui-form-switch {
	margin: 0;
}
.article-goods table tbody tr td .layui-input {
	height: 28px;
}
.article-goods table tbody tr th, .article-goods table tbody tr td {
	padding: 6px 8px;
}
.article-goods .tab-btn a {
	padding-right: 20px;
}
.article-goods .tab-btn a i.iconfont {
	font-size: 12px;
	font-weight: bold;
	padding-right: 4px;
}
/*门店商品价格调控*/
.price-form .price-box {
	display: inline-block;
	width: 31%;
	height: 24px;
}
.price-form .price-text {
	display: inline-block;
	width: 50%;
	height: 24px;
	line-height: 22px;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	color: #666;
}
.price-form .price-box span {
	display: inline-block;
}
.price-form th .price-text {
	border: #158CFF solid 1px;
	color: #158CFF;
}
/*收支明细、成品入库*/
.inconme-spending, .cprk-box {
	width: 100%;
	padding-bottom: 15px;
}
.inconme-spending span, .cprk-box span {
	padding-right: 20px;
	font-size: 13px;
	color: #333;
}
.inconme-spending span b {
	font-weight: bold;
}
/*成品入库*/
.will-tab {
	width: 100%;
	margin: 0;
	overflow: hidden;
}
.wt-left {
	float: left;
	width: 20%;
}
.wt-title {
	height: 40px;
	line-height: 40px;
	border: #e2e2e2 solid 1px;
	border-left: none;
	border-right: none;
	background: #F9F9F9;
	text-align: center;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #555;
}
.wt-left ul.layui-tab-title {
	height: auto;
	border-bottom: none;
}
.wt-left ul.layui-tab-title li {
	position: relative;
	display: block;
	float: none;
	width: 100%;
	height: 39px;
	line-height: 39px;
	color: #555;
	z-index: 2;
}
.wt-left ul.layui-tab-title li:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 39px;
	content: "";
	border-right: none;
	border-top: none;
	border-bottom: #e2e2e2 solid 1px;
	border-left: #e2e2e2 solid 1px;
	box-sizing: border-box;
}
.wt-left ul.layui-tab-title li.layui-this:after {
	border-left: none;
}
.wt-left ul.layui-tab-title li.layui-this {
	background: #F7B824;
	color: #fff;
}
.wt-right {
	float: right;
	width: 80%;
	padding: 0;
	margin-left: -1px;
}
.wt-right .con-table table tr td {
	background: #DDF0FF;
}
/*成品入库-新增单据*/
.egs-text {
	width: 100%;
	border: none;
	height: 22px;
	border-bottom: #ddd solid 1px;
	background: none;
	line-height: 22px;
	text-align: center;
	color: #158CFF;
}
/*成品入库-添加商品*/
.ags-wrapper{
	width: 100%;
	height: 100%;
}
.ags-wrapper .content, .ags-wrapper{
	height: 100%;
}
.ags-left {
	float: left;
	width: 20%;
	border: #ddd solid 1px;
}
.ags-left h2 {
	padding: 10px;
	background: #F3F3F3;
	font-size: 14px;
	font-weight: bold;
}
.ags-left .ags-category {
	width: 100%;
	padding: 8px 10px;
	overflow: hidden;
}
.ags-left .ags-category li a {
	display: block;
	line-height: 26px;
	color: #555;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.ags-left .ags-category li a:hover {
	color: #01AAED;
}
.ags-right {
	float: right;
	width: 78%;
}
/*编辑原料*/
.details-material .layui-form-pane .layui-form-label {
	width: 118px;
	text-align: right;
}
.details-material .layui-form-pane .layui-form-label b {
	padding-right: 2px;
	color: #f00;
}
.details-material .layui-input, .details-material .layui-textarea, .details-material .layui-select {
	width: 100%;
	height: 38px;
	padding: 5px;
	border: #ddd solid 1px;
	line-height: 26px;
	font-size: 13px;
	color: #666;
}
.details-material .layui-input:focus, .details-material .layui-textarea:focus, .details-material .layui-select:focus, .details-material .layui-input:hover {
	border-color: #158CFF !important;
}
.details-material .layui-inline span {
	display: block;
	float: left;
	height: 38px;
	padding: 0 10px;
	margin-left: -6px;
	border: #ddd solid 1px;
	line-height: 36px;
	color: #999;
}
.details-material .layui-form-pane .layui-input-block {
	margin-left: 118px;
	height: 38px;
	padding: 6px 10px;
	border: #ddd solid 1px;
}
/*做法管理*/
.list-zuofa {
	width: 100%;
	overflow: hidden;
}
.list-zuofa ul li {
	float: left;
	width: 16.666%;
	padding: 10px;
}
.list-zuofa ul li label {
	display: block;
	position: relative;
	width: 100%;
	height: 80px;
	background: #01AAED;
	border-radius: 5px;
	cursor: pointer;
}
.list-zuofa ul li.active label {
	background: #F7B824;
}
.list-zuofa ul li label input[type=radio] {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.list-zuofa ul li label span {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-size: 18px;
	color: #fff;
}
/*新增、编辑折扣*/
.discount-wrap, .discount-wrap .content, .discount-wrap {
	height: 100%;
}
.details-discount .layui-form-pane .layui-form-label {
	width: 112px;
	text-align: right;
}
.details-discount .layui-form-pane .layui-form-label b {
	padding-right: 2px;
	color: #f00;
}
.details-discount .layui-input, .details-discount .layui-textarea, .details-discount .layui-select {
	height: 38px;
	padding: 5px;
	border: #ddd solid 1px;
	line-height: 26px;
	font-size: 13px;
	color: #666;
}
.details-discount .layui-select {
	width: 100%;
}
.details-discount input[type=checkbox] {
	display: inline-block;
}
.details-discount .layui-input:focus, .details-discount .layui-textarea:focus, .details-discount .layui-select:focus, .details-discount .layui-input:hover {
	border-color: #158CFF !important;
}
.details-discount .layui-form-pane .layui-input-block {
	margin-left: 112px;
	height: 38px;
	padding: 6px 10px;
	border: #ddd solid 1px;
}
.details-discount .scope-goods {
	width: 550px;
	margin-top: 10px;
	border: #ddd solid 1px;
}
.details-discount .scope-goods h2 {
	display: block;
	width: 100%;
	height: 39px;
	padding: 0 12px;
	border-bottom: #ddd solid 1px;
	background: #F9F9F9;
	line-height: 38px;
	font-size: 14px;
	font-weight: bold;
}
.sg-content {
	width: 100%;
	overflow: hidden;
}
.sg-category {
	float: left;
	width: 120px;
	height: 100%;
	background: #F9F9F9;
	border-right: #ddd solid 1px;
}
.sg-category ul li {
	width: 100%;
	height: 30px;
	padding: 0 12px;
	cursor: pointer;
}
.sg-category ul li.active {
	background: #01AAED;
	color: #fff;
}
.sg-category ul li input {
	float: left;
	margin: 9px 3px 0 0;
}
.sg-category ul li span {
	float: left;
	width: 78px;
	line-height: 30px;
	font-size: 13px;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.sg-category ul li.active span {
	color: #fff;
}
.sg-list {
	float: left;
	width: 429px;
	padding: 6px;
	margin-left: -1px;
	border-left: #ddd solid 1px;
}
.sg-list ul {
	width: 100%;
	overflow: hidden;
}
.sg-list ul li {
	float: left;
	width: 92px;
	height: 20px;
	margin: 3px 6px;
}
.sg-list ul li label {
	display: block;
	cursor: pointer
}
.sg-list ul li label input {
	float: left;
	margin: 4px 3px 0 0;
}
.sg-list ul li label span {
	display: block;
	float: left;
	width: 75px;
	line-height: 20px;
	font-size: 13px;
	color: #555;
}
.ags-category li {
	width: 100%;
	height: 30px;
	line-height:30px;
	padding: 0 12px;
	cursor: pointer;
}
.ags-category li.active {
	background: #01AAED;
	color: #fff;
}
/*查看打折详情*/
.view-discount {
	width: 100%;
}
.view-discount .vd-info p {
	width: 100%;
	line-height: 28px;
	color: #666;
}
.view-discount .list-zkxm {
	width: 100%;
	margin-top: 10px;
	border: #DDDDDD solid 1px;
}
.view-discount .list-zkxm h2 {
	display: block;
	width: 100%;
	height: 36px;
	padding: 0 12px;
	background: #F9F9F9;
	border-bottom: #DDDDDD solid 1px;
	line-height: 36px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}
.view-discount .list-zkxm .lz-content {
	width: 100%;
	overflow: hidden;
}
.view-discount .lz-left {
	float: left;
	width: 100px;
	height: 100%;
	background: #F9F9F9;
	border-right: #ddd solid 1px;
}
.view-discount .lz-left ul li {
	width: 100%;
	padding: 0 10px;
	line-height: 30px;
	overflow: hidden;
	color: #666;
	cursor: pointer;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.view-discount .lz-left ul li.active {
	background: #01AAED;
	color: #fff;
}
.view-discount .lz-right {
	float: left;
	width: 289px;
	margin-left: -1px;
	border-left: #ddd solid 1px;
}
.view-discount .lz-right ul {
	width: 100%;
	padding: 6px 6px;
	overflow: hidden;
}
.view-discount .lz-right ul li {
	float: left;
	width: 80px;
	margin: 0 6px;
	line-height: 24px;
	color: #666;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
/*添加硬件*/
.add-printer .layui-form-pane .layui-form-label {
	width: 115px;
	text-align: right;
}
.add-printer .layui-form-pane .layui-form-label b {
	padding-right: 2px;
	color: #f00;
}
.add-printer .layui-input, .add-printer .layui-textarea, .add-printer .layui-select {
	height: 38px;
	padding: 5px;
	border: #ddd solid 1px;
	line-height: 26px;
	font-size: 13px;
	color: #666;
}
.add-printer .will-inline {
	float: left;
	width: 160px;
	height: 38px;
	padding: 0 10px;
	border: #ddd solid 1px;
	margin-left: -1px;
}
.add-printer .will-inline label {
	display: block;
	float: left;
	padding: 8px 0;
	margin: 0 12px;
	line-height: 20px;
	cursor: pointer;
}
.add-printer .will-inline label input {
	display: block;
	float: left;
	margin: 4px 3px 0 0;
	cursor: pointer;
}
.add-printer .layui-input:focus, .add-printer .layui-textarea:focus, .add-printer .layui-select:focus, .add-printer .layui-input:hover {
	border-color: #158CFF !important;
}
.add-printer .layui-elem-field {
	width: 557px;
	margin-top: 10px;
}
.add-printer .layui-elem-field legend {
	font-size: 16px;
}
.add-printer .layui-elem-field table.layui-table {
	margin: 0;
}
.add-printer .layui-elem-field table tr td {
	height: 34px;
	padding: 5px;
	line-height: 24px;
}
.add-printer .layui-elem-field table tr td .layui-input {
	display: block;
	height: 24px;
	margin: 0;
	line-height: 22px;
	text-align: center;
}
/*打印模板*/
.pt-content {
	width: 100%;
	overflow: hidden;
}
.pt-left {
	float: left;
	width: 120px;
}
.pt-left fieldset legend, .pt-right fieldset legend {
	font-size: 16px;
	color: #333;
}
.pt-left ul li label {
	display: block;
	height: 24px;
	cursor: pointer;
}
.pt-left ul li label input {
	float: left;
	margin: 6px 3px 5px 0;
}
.pt-left ul li label span {
	line-height: 24px;
	color: #555;
}
.pt-right {
	float: left;
	width: 382px;
	margin-left: 20px;
}
.preview-template {
	line-height: 24px;
	color: #333;
}
.preview-template h2 {
	padding-bottom: 10px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
.preview-template .preview-box {
	width: 100%;
	overflow: hidden;
}
.preview-template .preview-box1 {
	width: 100%;
	padding: 0 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.preview-box .preview-l {
	float: left;
	width: 50%;
	padding: 0 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.preview-template ul.list {
	width: 100%;
	padding: 8px 0;
	margin: 10px 0;
	border-top: #666 dashed 1px;
	border-bottom: #666 dashed 1px;
}
.preview-template ul.list li {
	width: 100%;
	overflow: hidden;
}
.preview-template ul.list li h4 {
	float: left;
	width: 25%;
	padding: 0 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.preview-template ul.list li span {
	display: block;
	float: left;
	width: 25%;
	padding: 0 5px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.preview-template ul.list li span i {
	display: block;
	margin: 0 auto;
	width: 14px;
	height: 14px;
	margin-top: 5px;
	border: #666 solid 1px;
}
.printer-content {
	line-height: 24px;
	color: #666;
}
.printer-content fieldset legend {
	font-size: 16px;
	color: #333;
}
/*副屏编辑*/
.add-vice .layui-form-pane .layui-form-label {
	width: 100px;
	text-align: right;
}
.add-vice .layui-form-pane .layui-form-label b {
	padding-right: 2px;
	color: #f00;
}
.add-vice .layui-input {
	height: 38px;
	padding: 5px;
	border: #ddd solid 1px;
	line-height: 26px;
	font-size: 13px;
	color: #666;
}
.add-vice .layui-input:focus, .add-vice .layui-input:hover {
	border-color: #158CFF !important;
}
.add-vice .layui-inline span {
	display: block;
	float: left;
	height: 38px;
	padding: 0 10px;
	margin-left: -6px;
	border: #ddd solid 1px;
	line-height: 36px;
	color: #999;
}
.add-vice .layui-form-pane .layui-input-block {
	margin-left: 100px;
	height: 38px;
	padding: 6px 3px;
	border: #ddd solid 1px;
}
.layui-form-onswitch {
	background: #158CFF;
	border-color: #158CFF;
}
.add-vice .layui-form-pane .layui-form-switch {
	margin: 0 0 0 10px;
}
/*标签打印*/
.label-print .layui-form-pane .layui-form-label {
	width: 116px;
	text-align: right;
}
.label-print .layui-form-pane .layui-form-label b {
	padding-right: 2px;
	color: #f00;
}
.label-print .layui-input, .label-print .layui-textarea, .label-print .layui-select {
	height: 38px;
	padding: 5px;
	border: #ddd solid 1px;
	line-height: 26px;
	font-size: 13px;
	color: #666;
}
.label-print .layui-select {
	width: 100%;
}
.label-print input[type=checkbox] {
	display: inline-block;
}
.label-print .layui-input:focus, .label-print .layui-textarea:focus, .label-print .layui-select:focus, .label-print .layui-input:hover {
	border-color: #158CFF !important;
}
.label-print .layui-form-pane .layui-input-block {
	margin-left: 116px;
	height: 38px;
	padding: 10px 10px;
	border: #ddd solid 1px;
}
.label-print .scope-goods {
	width: 550px;
	margin-top: 10px;
	border: #ddd solid 1px;
}
.label-print .scope-goods h2 {
	display: block;
	width: 100%;
	height: 39px;
	padding: 0 12px;
	border-bottom: #ddd solid 1px;
	background: #F9F9F9;
	line-height: 38px;
	font-size: 14px;
	font-weight: bold;
}
.label-print fieldset.layui-elem-field {
	width: 550px;
	margin-top: 10px;
}
.label-print fieldset.layui-elem-field legend {
	font-size: 16px;
	color: #333;
}
.label-print fieldset.layui-elem-field table.layui-table {
	margin: 0;
}
.label-print fieldset.layui-elem-field table tr td {
	height: 34px;
	padding: 5px;
	line-height: 24px;
}
.label-print fieldset.layui-elem-field table tr td .layui-input {
    display: block;
    height: 24px;
    margin: 0;
    line-height: 22px;
    text-align: center;
}
/*提现*/
.withdrawal, .withdrawal .content, .withdrawal .content .wboxform {
	min-height: 100%;
}
.withdrawal .content .wboxform {
	background: #fff fixed;
}
.withdrawal .layui-tab-brief>.layui-tab-title .layui-this {
	color: #2792FC;
}
.withdrawal .layui-tab-brief>.layui-tab-title .layui-this:after {
	border-bottom: #2792FC solid 2px;
}
.withdrawal-info {
	width: 100%;
	padding: 15px 0 20px;
	line-height: 24px;
	overflow: hidden;
}
.withdrawal-info .w-money {
	float: left;
	margin-right: 50px;
	font-size: 15px;
	color: #333;
}
.withdrawal-info .w-money b {
	font-size: 18px;
	font-weight: bold;
}
.withdrawal-info .w-money:nth-child(1) b {
	color: #FF5722;
}
.withdrawal-info .w-money:nth-child(2) b {
	color: #01AAED;
}
.withdrawal-info .w-money:nth-child(3) b {
	color: #F7B824;
}
.withdrawal-tips {
	margin-bottom: 20px;
}
.withdrawal-tips legend {
	font-size: 16px;
	color: #FF5722;
}
.withdrawal-tips .layui-field-box {
	line-height: 26px;
	color: #666;
}
.drawal-box {
	width: 100%;
	overflow: hidden;
}
.drawal-box span {
	display: block;
	float: left;
	line-height: 56px;
}
.drawal-list ul {
	float: left;
	width: 660px;
	overflow: hidden;
}
.drawal-list ul li {
	float: left;
	width: 310px;
	margin: 5px 8px;
}
.drawal-list ul li label {
	display: block;
	float: left;
	position: relative;
	width: 175px;
	height: 46px;
	border: #ddd solid 1px;
	cursor: pointer;
}
.drawal-list ul li label img {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 173px;
	height: 44px;
}
.drawal-list ul li label input[type=checkbox] {
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.drawal-list ul li label i {
	display: none;
	position: absolute;
	right: 0px;
	bottom: 0;
	width:0; 
    height:0;
    border-bottom: 24px solid #01AAED;
    border-left: 24px solid transparent;
    z-index: 2
}
.drawal-list ul li label i:before {
	position: absolute;
	bottom: -29px;
	right: 1px;
	line-height: 24px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}
.drawal-list ul li.active label {
	border: #01AAED solid 1px;
}
.drawal-list ul li.active label i {
	display: block;
}
.drawal-list ul li p {
	float: left;
	padding-left: 8px;
	line-height: 44px;
}
/*添加其他支出费用*/
.addOtherFiles .btn-box a {
	margin-right: 30px;
}
.addOtherFiles .btn-box a i {
	font-size: 12px;
}
.addOtherFiles fieldset {
	width: 374px;
	margin-top: 10px;
}
.addOtherFiles fieldset legend {
	font-size: 16px;
	color: #333;
}
/*商城设置*/
.shop-setup fieldset legend {
	font-size: 16px;
	color: #333;
}
.shop-setup fieldset .layui-field-box {
	display: block;
	width: 100%;
	padding: 20px;
	overflow: hidden;
}
.shop-setup label {
	display: block;
	float: left;
	height: 32px;
	margin-right: 50px;
	line-height: 32px;
	cursor: pointer;
	overflow: hidden;
}
.shop-setup label.layui-form-label {
	margin-right: 10px;
	color: #555;
}
.shop-setup label input {
	float: left;
	margin: 10px 3px 0 0;
}
.shop-setup .layui-input-inline {
	overflow: hidden;
}
.shop-setup label span {
	float: left;
	line-height: 32px;
	color: #555;
}
.basi-city {
	width: 100%;
	overflow: hidden;
}
.bc-left {
	float: left;
	width: 180px;
	height: 210px;
	border-right: #E6E6E6 solid 1px;
	overflow-y: scroll;
}
.bc-left ul li {
	width: 150px;
	height: 35px;
	border-bottom: #E6E6E6 solid 1px;
	cursor: pointer;
	overflow: hidden;
}
.bc-left ul li.active {
	border-bottom: #fff solid 1px;
	background: #01AAED;
}
.bc-left ul li input {
	display: block;
	float: left;
	margin: 10px 5px;
}
.bc-left ul li span {
	display: block;
	float: left;
	width: 125px;
	line-height: 34px;
	color: #333;
}
.bc-left ul li.active span {
	color: #fff;
}
.bc-right {
	float: left;
	width: 500px;
	overflow: hidden;
}
.bc-right ul {
	width: 100%;
	padding: 5px 15px;
	overflow: hidden;
}
.bc-right ul li {
	float: left;
	display: block;
	height: 30px;
	margin: 0px 15px;
}
.bc-right ul li label {
	display: block;
	height: 30px;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.bc-right ul li label input {
	float: left;
	margin: 9px 3px 0 0;
}
.bc-right ul li label span {
	line-height: 30px;
}
/*查看图片*/
.view-img img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
/*添加打印机*/
.add-printer .scope-goods {
	width: 557px;
	margin: 5px 0;
	border: #ddd solid 1px;
	overflow: hidden;
}
.add-printer .scope-goods h2 {
	display: block;
    width: 100%;
    height: 39px;
    padding: 0 12px;
    border-bottom: #ddd solid 1px;
    background: #F9F9F9;
    line-height: 38px;
    font-size: 14px;
    font-weight: bold;
}
.add-printer .scope-goods input[type=checkbox] {
	display: block;
}
.add-printer .scope-goods .sg-list {
	width: 404px;
}
/*编辑客流宝*/
.details-klb .layui-form-pane .layui-form-label {
	width: 125px;
	text-align: right;
}
.details-klb .layui-form-pane .layui-form-label b {
	padding-right: 2px;
	color: #f00;
}
.details-klb .layui-input, .details-klb .layui-textarea, .details-klb .layui-select {
	width: 100%;
	height: 38px;
	padding: 5px;
	border: #ddd solid 1px;
	line-height: 26px;
	font-size: 13px;
	color: #666;
}
.details-klb .layui-input:focus, .details-klb .layui-textarea:focus, .details-klb .layui-select:focus, .details-klb .layui-input:hover {
	border-color: #158CFF !important;
}
.details-klb .layui-input-inline {
	margin-right: 0;
}
.details-klb .layui-form-mid {
	margin-left: 5px;
}
.details-klb .layui-inline span {
	display: block;
	float: left;
	height: 38px;
	padding: 0 10px;
	margin-left: -1px;
	border: #ddd solid 1px;
	line-height: 36px;
	color: #999;
}
.details-klb .layui-form-pane .layui-input-block {
	margin-left: 118px;
	height: 38px;
	padding: 6px 10px;
	border: #ddd solid 1px;
}
/*桌台管理*/
.counter {
	overflow: hidden;
}
.counter .counter-left {
	float: left;
	width: 26%;
	padding-right: 15px;
}
.counter .counter-right {
	float: right;
	width: 74%;
}
.counter-qy ul li label {
	cursor: pointer;
}
.counter-qy ul li label span {
	display: block;
	height: 28px;
	padding: 0 5px;
	line-height: 28px;
	color: #555;
}
.counter-qy ul li.active label span {
	background: #01AAED;
	color: #fff;
}
.counter-qy ul li label input {
	display: none;
}
/*加载背景*/
.loding-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #333;
	opacity: 0.4;
	z-index: 999;
}
/*进销存表单*/
.psi-form .layui-form-label {
	width: 100px;
	text-align: right;
}
.psi-form .layui-input {
	height: 38px;
}
.psi-form input[type="checkbox"] {
	display: block;
	padding: 0;
	margin: 0 auto;
}
/*修改密码、忘记密码*/
.changePassword, .forgotPassword {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 600px;
	height: 400px;
	padding: 0 0 60px;
	background: #fff;
	margin: -220px 0 0 -300px;
	border-radius: 5px;
	overflow: hidden;
}
.changePassword .cp-title, .forgotPassword .fp-title {
	width: 100%;
	height: 60px;
	background: #2792FC;
	line-height: 60px;
	text-align: center;
	font-size: 18px;
	color: #fff;
}
.changePassword .change-pwd-form, .forgotPassword .forgot-pwd-form {
	padding-top: 40px;
}
.changePassword .cp-input, .forgotPassword .fp-input {
	display: block;
	width: 300px;
	height: 40px;
	border: #D8D8D8 solid 1px;
	padding: 8px;
	margin: 12px auto 0;
	line-height: 20px;
	font-size: 14px;
	color: #333;
	border-radius: 4px;
	box-sizing: border-box;
	overflow: hidden;
}
.changePassword ::-webkit-input-placeholder, .changePassword :-moz-placeholder, .changePassword ::-moz-placeholder, .changePassword :-ms-input-placeholder, .forgotPassword ::-webkit-input-placeholder, .forgotPassword :-moz-placeholder, .forgotPassword ::-moz-placeholder, .forgotPassword :-ms-input-placeholder {
	color: #999; 
}
.changePassword .cp-btn, .forgotPassword .cp-btn {
	display: block;
	width: 300px;
	height: 42px;
	border: none;
	margin: 20px auto 0;
	background: #2792FC;
	line-height: 42px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}
.forgotPassword .forgot-yzm {
	position: relative;
	width: 300px;
	height: 40px;
	margin: 12px auto 0;
}
.forgotPassword .forgot-yzm .fp-input {
	position: absolute;
	left: 0;
	width: 200px;
	margin: 0;
}
.forgotPassword .forgot-yzm .yzm-btn {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 105px;
	height: 40px;
	border: none;
	background: #2792FC;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	cursor: pointer;
}
.changePassword p, .forgotPassword p {
	width: 300px;
	margin: 5px auto 0;
	font-size: 12px;
	color: #aaa;
}
.changePassword p.cp-tips, .forgotPassword p.fp-tips {
	color: #f00;
}
/*编辑供应商*/
.add-supplier .layui-inline {
	float: left;
}
.add-supplier .layui-form-pane .layui-form-label {
	width: 98px;
	text-align: right;
}
.add-supplier .layui-form-pane .layui-form-label b {
	padding-right: 2px;
	color: #f00;
}
.add-supplier .layui-input, .add-supplier .layui-textarea, .add-supplier .layui-select {
	width: 100%;
	height: 38px;
	padding: 5px;
	border: #ddd solid 1px;
	line-height: 26px;
	font-size: 13px;
	color: #666;
}
.add-supplier .layui-input:focus, .add-supplier .layui-textarea:focus, .add-supplier .layui-select:focus, .add-supplier .layui-input:hover {
	border-color: #158CFF !important;
}
.add-supplier .layui-inline span {
	display: block;
	float: left;
	height: 38px;
	padding: 0 10px;
	margin-left: -6px;
	border: #ddd solid 1px;
	line-height: 36px;
	color: #999;
}
.add-supplier .layui-form-pane .layui-input-block {
	margin-left: 98px;
	height: 38px;
	padding: 6px 10px;
	border: #ddd solid 1px;
	margin-right: 4px;
}
.add-supplier .layui-form-pane .layui-input-block .will-check {
	margin: 0;
}